@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

.bg-gradient {
  background-image: linear-gradient(rgb(8 47 73), rgb(12 74 110));
}

.shadow-white-lg {
  box-shadow:
    0 0 #fff0,
    0 0 #fff0,
    0 10px 15px -3px rgb(255 255 255 / 0.1),
    4px 4px 6px -4px rgb(255 255 255 / 0.1),
    4px -4px 6px -4px rgb(255 255 255 / 0.1),
    -4px 4px 6px -4px rgb(255 255 255 / 0.1),
    -4px -4px 6px -4px rgb(255 255 255 / 0.1);
}


html, body {
  color: rgb(var(--foreground-rgb));
  font-size: 14px;
  background-image: linear-gradient(rgb(8 47 73), rgb(12 74 110));
  box-sizing: border-box;
}
